.first-dev {
  background-color: #000000;
  height: 100vh;
  display: flex;
}
.ashok {
  overflow-y: scroll;
  max-height: 80%;
}
.firstDev {
  width: 29%;
}
.myListFor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.secondDiv {
  width: 70%;
}
.overManager {
  display: flex;
  list-style-type: none;

  flex-direction: column;
  flex-wrap: wrap;
  background-color: #000000;
}
.cardDec {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  color: #000000;
  border-radius: 30px;
  margin: 3px;
  width: 60%;
  padding: 10px;
}
