ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #202020;
  color: #ffffff;
  padding: 10px;
  align-items: center;
  list-style-type: none;
}
img {
  height: 35px;
}
h1 {
  margin-right: 15px;
}
button {
  background-color: #6366f1;
  padding: 10px;
  border-radius: 5px;
  border-width: 0px;
  color: #ffffff;
}
